@import url("./syntax.css");

#__next {
	min-height: 100vh;
}

.preview-wrapper {
	position: relative;
	min-height: 100%;
	flex-grow: 1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScroll::-webkit-scrollbar-track {
	-webkit-appearance: none;
}

.hideScroll::-webkit-scrollbar {
	width: 0;
}

.hideScroll::-webkit-scrollbar-thumb {
	-webkit-appearance: none;
}

*::-webkit-scrollbar {
	width: 6px;
	/* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
	background: transparent;
	/* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
	background-color: rgba(184, 184, 184, 0.4);
	/* color of the scroll thumb */
	border-radius: 20px;
	/* roundness of the scroll thumb */
	/* creates padding around scroll thumb */
}

.hideScroll {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.bundler-loader.is-loading::after {
	background-color: rgb(29, 29, 29);
}

.bundler-loader {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-grow: 1;
}

.bundler-loader::after {
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 20;
	position: absolute;
}

.bundler-loader.loading-done::after {
	animation: bundlerload 1s ease-out;
}

@keyframes bundlerload {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.preview-wrapper iframe {
	position: relative;
	height: 100%;
	width: 100%;
	background: white;
}


.editor-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	flex-grow: 1;
}


.react-draggable-transparent-selection .preview-wrapper:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
}

.Resizer {
	background: rgba(31, 31, 31, var(--tw-border-opacity));
	--tw-border-opacity: 1;
	opacity: 0.2;
	z-index: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
}

.Resizer:hover {
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
}

.Resizer.horizontal {
	height: 11px;
	margin: -5px 0;
	border-top: 5px solid #23D3ED;
	border-bottom: 5px solid rgba(255, 255, 255, 0);
	cursor: row-resize;
	width: 100%;
}

.Resizer.horizontal:hover {
	border-top: 5px solid rgba(0, 0, 0, 0.5);
	border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
	width: 11px;
	margin: 0 -5px;
	border-left: 5px solid rgba(255, 255, 255, 0);
	border-right: 5px solid rgba(255, 255, 255, 0);
	cursor: col-resize;
}

.Resizer.vertical:hover {
	border-left: 5px solid #23D3ED;
	border-right: 5px solid #23D3ED;
}

.Resizer.disabled {
	cursor: not-allowed;
}

.Resizer.disabled:hover {
	border-color: transparent;
}

.monaco-editor .view-overlays .current-line {
	border: none !important;
	background-color: rgba(23, 25, 27, 1);
}

/* Hide the focus ring styles from Windicss in Monaco */
.monaco-editor textarea:focus {
	box-shadow: none !important;
}


/* File nav */

.got-lineage {
	width: 300px;
	height: 500px;
	background: rgba(0, 0, 0, 0.04);
	border: 1px solid gainsboro;
	border-radius: 5px;
}

.row {
	font-size: 14px;
	cursor: default;
	user-select: none;
	align-items: center;
	white-space: nowrap;
	position: relative;
	display: flex;
}

.row i {
	margin-right: 6px;
	display: flex;
	align-items: center;
	;
}

.row button {
	border: none;
	background: none;
	display: flex;
	align-items: center;
	padding: 0;
	width: 14px;
}

.row .spacer {
	width: 14px;
}

.row-contents {
	font-size: 13px;
	height: 100%;
	display: flex;
	align-items: center;
	margin: 0 12px;
	display: flex;
	width: 100%;
	border: 2px solid transparent;
	border-radius: 4px;
}

.row-contents input {
	display: block;
	width: 100%;
	flex: 1;
	border: none;
	box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.2);
	margin: 0;
	margin: -4px;
	padding-left: 4px;
	margin-right: 1px;
	height: 100%;
	outline: none;

}

.isSelected .row-contents {
	background: cornflowerblue;
	color: white;
}

.isSelectedStart .row-contents {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.isSelectedEnd .row-contents {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}


.row first-of-type {
	background: green;
}

.isOverFolder .row-contents {
	background: hsla(0 0% 0% / 0.05);

}

.selected-count {
	font-size: 11px;
	font-weight: bold;
	background: cornflowerblue;
	color: white;
	border-radius: 3px;
	display: inline-flex;
	padding: 4px;
	left: 0;
	top: 0;
	position: absolute;

	min-width: 20px;
	min-height: 20px;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.04);
}